<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add 
			name="StockPriceListYTDConnectionString"
			connectionString="Data Source=DESKTOP-83PGOTM\SQLEXPRESS;Initial Catalog=STOCK_PRICE_LIST_YTD;User ID=StockPriceListYTD;Password=stock1234"
			providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="BASE_URL" value ="https://quote.jpx.co.jp/jpx/template/"/>
		<add key="SEARCH_URL" value ="quote.cgi?F=tmp/stock_search"/>
		<add key="STOCK_INFO_URL" value ="quote.cgi?F=tmp/stock_detail&amp;MKTN=T&amp;QCODE="/>
	</appSettings>
</configuration>